<?xml version="1.0"?>
<opencv_storage>
	<CameraLeftId>0</CameraLeftId>
	<CameraRightId>1</CameraRightId>
	<CameraWidth>1920</CameraWidth>
	<CameraHeight>1080</CameraHeight>
	<FPS>60</FPS>
	<CreatePhotoForCalibration>1</CreatePhotoForCalibration>
	<PhotoPath>"C:\Users\Xandis\source\repos\3D\3D\"</PhotoPath>
	<StereoPath>"C:\Users\Xandis\source\repos\3D\3D\"</StereoPath>
	<PhotoPairCount>10</PhotoPairCount>
	<WindowsSize>2</WindowsSize>
	<Calibrate>1</Calibrate>
	<BoardWidth>9</BoardWidth>
	<BoardHeight>6</BoardHeight>
	<SquareSize>25.</SquareSize>
	<Intrinsics>"C:\Users\Xandis\source\repos\3D\3D\intrinsics.yml"</Intrinsics>
	<Extrinsics>"C:\Users\Xandis\source\repos\3D\3D\extrinsics.yml"</Extrinsics>
	<SaveDepthMap>1</SaveDepthMap>
	<DepthMapPhotoPath>"C:\Users\Xandis\source\repos\3D\3D\DepthMap.jpg"</DepthMapPhotoPath>
	<DepthMapPath>"C:\Users\Xandis\source\repos\3D\3D\DepthMap.yml"</DepthMapPath>
	<CreatePointCloud>0</CreatePointCloud>
	<PointCloudPath>"C:\Users\Xandis\source\repos\3D\3D\Cloud.obj"</PointCloudPath>
	<IMUPath>"C:\Users\Xandis\source\repos\3D\3D\Imu.txt"</IMUPath>
	<IMUPort>"COM5"</IMUPort>
</opencv_storage>
